html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, section, summary,
time, mark, audio, video {
 	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

* {
	box-sizing: border-box;
}

body{
	font-family: cheltenham, georgia, 'times new roman', times, serif;
}

.nav-wrapper{
	display: flex;
	justify-content: space-between;
	background-color: white;
	padding-top: 5px;
	padding-bottom: 5px;
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	z-index: 4;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
}

.nav-wrapper .left-nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-left: 5px;
}

.nav-wrapper .left-nav i{
	padding: 0 10px;
}

.nav-wrapper .left-nav span{
	font-size: 14.25px;
	font-family: franklin, helvetica, arial, sans-serif;
	font-weight: 700;
	letter-spacing: 0.7px
	line-height: 19px;
	padding: 0 10px;
}

.nav-wrapper .right-nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-right: 5px;
}

.nav-wrapper .right-nav button{
	margin-right: 10px;
	padding: 10px;
	font-size: 11px;
	font-family: franklin, helvetica, arial, sans-serif;
	font-weight: 700;
	line-height: 11px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #fff;
	background-color: rgb(86, 123, 149);
	border-radius: 3px;
	border: 1px solid rgb(50, 104, 145); 
}

.main{
	display: block;
}

.article-header{
	display: block;
	margin-top: 60px;
	width: 100%;
}

.article-header .headline{
	position: relative;
	width: 600px;
	margin-right: auto;
	margin-left: auto;
	font-size: 2.5rem;
	font-weight: 700;
	font-style: italic;
}

.article-header .headline-img{
	position: relative;
	width: 945px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
}

.article-header .headline-img img{
	width: 945px;
}

figcaption, .video-caption{
	color: #666;
	margin: 10px 20px 0 0;
	text-align: left;
	line-height: 1.25rem;
	font-size: 1.05rem;
}

figcaption span, .video-subcaption{
	color: #888;
	font-size: 0.9rem;
}

.main-article{
	position: relative;
	width: 600px;
	margin: 15px auto;
	color: #333;
}

.article-info{
	display: grid;
	grid-template: 1fr 1fr / 1fr 1fr;
	align-items: center;
}

.article-info .author{
	grid-column: span 2;
	font-weight: 700;
	font-size: 1rem;
	line-height: 1.25rem;
}

.article-info .date{
	font-size: 14px;
}

.social-links i{
	background-color: #eee;
	border: 1px solid #eee;
	border-radius: 50%;
	font-size: 18px;
	margin-right: 14px;
	padding: 5px;
}

.social-links .rotate{
	transform: scale(-1, 1);
}

.main-article{
	font-size: 1.4rem;
	line-height: 1.875rem;
}

.main-article h3{
	font-weight: 700;
}

.main-article img{
	width: 100%;
}

.main-article .footnote, .footnote a{
	font-size: 0.75rem;
	line-height: 1rem;
	width: calc(100% - 40px);
	color: rgb(102, 102, 102);
}

.diagram{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	width: 945px;
	margin: 0 auto 30px auto;
	grid-gap: 15px;
}

.diagram .title{
	grid-column: span 4;
}

.diagram .title h3{
	font-weight: 700;
	font-size: 1.25rem;
	margin-bottom: 2px;
}

.diagram .title p{
	color: #666;
	font-weight: 400;
}

.diagram .image{
	width: 100%;
}

.diagram .caption span{
	font-family: franklin, helvetica, arial, sans-serif;
	font-size: 14px;
	line-height: 17px;
	font-weight: 300;
}

.diagram .caption .title{
	font-weight: bold;
	font-size: 11px;
	letter-spacing: 0.05em;
}

.diagram .author{
	grid-column: span 4;
	font-family: franklin, helvetica, arial, sans-serif;
	font-size: .875rem;
}

.comments{
	display: flex;
	margin-top: 20px;
	justify-content: space-between;
}

.comments button{
	width: 330px;
	background-color: rgb(86, 123, 149);
	color: white;
	font-weight: 600;
	border: 1px solid rgb(50, 104, 145);
	border-radius: 3px;
}

.more-articles{
	font-weight: 700;
	display: flex;
}

.more-articles h4{
	font-family: franklin, helvetica, arial, sans-serif;
}